* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #071a38, #123e80, #0879c9);
  min-height: 100vh;
  color: white;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 35px 20px;
}

.titulo {
  text-align: center;
  padding: 35px;
  margin-bottom: 35px;
  background: #123568;
  border-radius: 15px;
}

.titulo h1 {
  color: #60a5fa;
  margin-bottom: 10px;
}

.titulo p {
  color: #dbeafe;
}

section {
  margin-bottom: 35px;
}

section > h2 {
  color: #bfdbfe;
  margin-bottom: 20px;
}

.grade {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  color: #1e293b;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 5px 15px #00000033;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card h2 {
  color: #2563eb;
  margin-bottom: 10px;
}

.card p {
  color: #475569;
}